@mixin userAvatar {
    display: block;
    width: 38px;
    height: 38px;
}
$headBgColor: #323a37;
body {
    font-size: 14px;
    h2,h3, h4, h5 {
        outline: 0;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 20px;
    }
    h3, h4, h5 {
        font-size: 16px;
    }
    .w100p {
        width: 100%;
    }
    .mt15 {
        margin-top: 15px;
    }
    //页面上的提示样式
    .bg-tips {
        background: #ffefc6;
        color: #960;
        padding: 15px;
        font-size: 13px;
    }
    //标签输入框的样式
    .tagsinput input {
        width: 10em;
    }
    //每一个愿望
    .wish-item {
      padding: 10px 0;
      .item-summary {
          .inline-img {
              display: inline;
              float: left;
              overflow: hidden;
              margin: 4px 10px 5px 0;
              max-width: 180px;
              max-height: 100px;
              height: auto;
          }
          .origin_image {
              cursor: pointer;
          }
      }
      .item-vote, .item-votebar {
          position: absolute;
          top: 40px;
      }
      .item-votebar {
          .up, .down {
              position: relative;
              display: block;
              width: 38px;
              height: 24px;
              border: 0;
              border-radius: 3px;
              background: #eff6fa;
              color: #698ebf;
              font-weight: 700;
              font-weight: 500;
              line-height: 24px;
              cursor: pointer;
          }
          .down span,
          .up span {
              color: #698ebf;
          }
          .up {
              margin-bottom: 2px;
              height: 44px;
          }
          .up:hover,
          .down:hover,
          .up:hover span,
          .down:hover span {
              background: #698ebf;
              color: #fff;
          }
          .down:hover .fui-triangle-down-small,
          .up:hover .fui-triangle-up-small {
              color: #fff;
          }
          .down .fui-triangle-down-small,.up .fui-triangle-up-small {
              color: #698ebf;
          }
          .fui-triangle-up-small,
          .fui-triangle-up-small {
              position: absolute;
              top: -2px;
              left: 0;
              width: 100%;
          }
          .count {
              position: absolute;
              top: 18px;
              left: 0;
              width: 100%;
          }
      }
      .avatar{
          position: relative;
          float: left;
          @include userAvatar;
          img {
              border-radius: 3px;
              @include userAvatar;
          }
          a {
              @include userAvatar;
          }
      }
      .wish-main {
        margin-left: 48px;
        border-bottom: 1px solid #eee;
      }
      a {
          color: #999;
      }
      .link-wish {
          color: #16a085;
      }
      .wish-type {
          color: #999;
      }
    }
    .dialog {
      border-top: 0;
    }
    .header {
      background: $headBgColor;
    }
    .nav>li {
      display: inline-block;
    }
    .nav>li>a {
      color: #bbc8c3;
      padding: 5px 15px;
    }
    .nav > li > a:hover,
    .nav > li > a:focus {
      color: #FFF;
      background-color: $headBgColor;
    }
    .nav .new {
      position: absolute;
      top: 8px;
      right: 0;
      display: block;
      padding: 0 2px;
      height: 12px;
      line-height: 12px;
      background: #d0021b;
      font-size: 12px;
      color: #FFF;

      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
    }
    .nav li.dropdown.open > .dropdown-toggle {
      background-color: #1abc9c;
      border-bottom-color: #16a085;
      color: #ffffff;
    }
    .nav li.dropdown.open .dropdown-menu {
      opacity: 1;
      top: 100%;
      visibility: visible;
      z-index: 1000;
      -webkit-transform: none;
    }
    .nav li.dropdown .dropdown-menu {
      border: 1px solid #CCC;
      background-color: #ffffff;
      opacity: 0;
      padding: 0;
      visibility: hidden;
      margin-top: 0px !important;
      border-radius: 0;
    }
    .nav li.dropdown .dropdown-menu li.hr {
        margin-top: 5px;
        border-top: 1px solid #EEE;
        padding-top: 5px;
    }
    .nav .dropdown-menu li:last-child > a {
      border-radius: 0;
    }
    .nav.navbar-right.dropdown-menu {
      left: -100%;
      margin-left: 17px;
    }
    .nav .dropdown-menu a:hover{
      background: #f0f0f0;
    }
    .nav li.dropdown .dropdown-menu > li > a {
      color: #666;
      padding: 6px 8px 8px;
    }
    .nav li.dropdown.open>.dropdown-toggle {
      color: #FFF;
      background: #414a47;
    }

    //标签
    .tag {
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      overflow: hidden;
      line-height: 15px;
      padding: 6px 13px 8px 19px;
      position: relative;
      vertical-align: middle;
      -webkit-transition: 0.25s linear;
      transition: 0.25s linear;
      background-color: #ebedef;
      color: #7b8996;
    }
    .tag:hover {
      padding-left: 12px;
      padding-right: 20px;
      background-color: #16a085;
      color: #ffffff;
    }
    .top-title {
      margin: 0 0 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid #EEE;
      font-size: 24px;
    }
    .help {
      width: 200px;
      margin: 10px auto;
    }
    .green {
      color: #009a61;
    }
    .user-home {
      .user-profile-name {
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
      }
      .user-profile {
        margin-bottom: 20px;
        padding: 10px 0 30px;
        border-bottom: 1px solid #EEE;
        font-size: 14px;
        line-height: 1.5;
        color: #888;
        strong {
          font-size: 1.4em;
          display: block;
        }
      }
    }
}