.col-md-9
  .wish-item(ng-repeat='wish in wishes')
    .avatar
      a(title='wish.userName', target='_blank', ng-href='{{wish.userHomeHref}}')
        img.zm-item-img-avatar(ng-src='{{wish.userImgSrc}}')
      .item-votebar
        button.up(title='喜欢')
          i.fui-triangle-up-small
          span.count {{wish.voteCount}}
        button.down(title='不喜欢')
          i.fui-triangle-down-small
          span.label
    .wish-main
      .title
        a(href='wish.userHomeHref', target='_blank', title='{{wish.userName}}') {{wish.userName}}
        span •
        a(href='javascript:;', ng-show='wish.isConcernUser') 关注{{wish.userGender ? '他' : '她'}}
      .content
        h2
          a.link-wish(target='_blank', ng-href='{{wish.wishHomeHref}}') {{wish.wishTitle}}
        .entry-body
          .zm-item-answer-detail
            .zm-item-vote-info
              span.voters
                span.voter(ng-repeat='voter in wish.voters')
                  a.zg-link(ng-href='{{voter.userHomeHref}}', title='{{voter.userName}}') {{voter.userName}}
                  | {{!$last ? '、' : ''}}
              a.zg-link-gray.more(href='javascript:;', ng-show='wish.voters.length')  等人赞同
            .zm-item-rich-text(ng-click='expand(wish.wishId)')
              .item-summary.summary.clearfix
                img.origin_image.inline-img.zh-lightbox-thumb(ng-src='{{wish.wishImgSrc}}', ng-show='wish.wishImgSrc')
                | {{wish.wishContent}}
                a.toggle-expand(ng-click='expend(wish.wishId)', ng-show='wish.isCollapse') 显示全部
        .wish-meta
          .zm-item-meta.zm-item-comment-el.answer-actions.clearfix
            a#sfb-982293.follow-link.zg-follow.meta-item(ng-click='concern(wish.wishId)')
              i.z-icon-follow
              | 关注问题
            a.meta-item.toggle-comment(ng-click='comment(wish.wishId)')
              i.z-icon-comment
              | {{wish.commentNum}} 条评论
            a.meta-item.zu-autohide(ng-click='thank(wish.wishId)')
              i.z-icon-thank
              | 感谢
            a.meta-item.zu-autohide(ng-click='share(wish.wishId)')
              i.z-icon-share
              | 分享
            a.meta-item.zu-autohide(ng-click='collect(wish.wishId)')
              i.z-icon-collect
              | 收藏
            a.collapse.meta-item.zg-right(ng-click='collapse(wish.wishId)', ng-show='!wish.isCollapse')
              i.z-icon-fold
              | 收起
.col-md-3