.col-md-9
  .feed-item
    .avatar
      a(title='Evance', target='_blank', href='/people/evance')
        img.zm-item-img-avatar(src='http://p1.zhimg.com/e4/2d/e42d9ec0c_m.jpg')
      .item-vote
        a.item-vote-count(name='expand', href='javascript:;', data-votecount='328') 328
      .item-votebar
        button.up(aria-pressed='false', title='喜欢')
          i.fui-triangle-up-small
          // <span class="label">赞同</span>
          span.count 328
        button.down(aria-pressed='false', title='不喜欢')
          i.fui-triangle-down-small
          span.label
    .feed-main
      .title
        span.wish-type.pull-right 精选愿望
        a.zg-link(data-tip='p$t$evance', href='http://www.zhihu.com/people/evance', target='_blank', title='Evance') Evance
        span.zg-bull •
        a#::-68cf4ad6ec714ffdcd6901ed3aa59d59.zg-follow(name='follow-p', data-follow_text='关注她', href='#') 关注她
      .content
        h2
          a.link-wish(target='_blank', href='/question/22003457') 2013 年阿里员工和现场记者经历的双十一 24 小时是怎样的？
        .entry-body(data-aid='3185589', data-atoken='20001970', data-collapsed='False', data-created='1384150629', data-deleted='0', data-isowner='0', data-helpful='1', data-score='0')
          .zm-item-answer-detail
            .zm-item-vote-info(data-votecount='328')
              span.voters
                a.zg-link(data-tip='p$t$xt-shaw', href='http://www.zhihu.com/people/xt-shaw', title='xt shaw') xt shaw
                | 、
                a.zg-link(data-tip='p$t$a-d-92', href='http://www.zhihu.com/people/a-d-92', title='a d') a d
                | 、
                a.zg-link(data-tip='p$t$deng-yun-tian', href='http://www.zhihu.com/people/deng-yun-tian', title='邓云天') 邓云天
              a.zg-link-gray.more(href='javascript:;', name='more')  等人赞同
            .zm-item-rich-text(data-resourceid='982293', data-action='/answer/content')
              .item-summary.summary.clearfix
                img.origin_image.inline-img.zh-lightbox-thumb(src='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_m.jpg', data-rawwidth='852', data-rawheight='1136', data-original='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_r.jpg')
                | 不能够说数据，不能够说产品，不能够说方案； 只说说过去24个小时。
                b
                  u 一些过程：
                | 提前12小时到了公司，在座位上大家准备所有的进度review(细节不能说就不说了)。进出需要凭工牌和臂章，没有会被请出工作区。后勤的同学基本上都在旁边 ，其实有蛮多辛苦的安全助…
                a.toggle-expand(href='/question/22003457/answer/20001970') 显示全部
        .feed-meta
          .zm-item-meta.zm-item-comment-el.answer-actions.clearfix
            a#sfb-982293.follow-link.zg-follow.meta-item(data-follow='q:link', href='javascript:;')
              i.z-icon-follow
              | 关注问题
            a.meta-item.toggle-comment(href='#', name='addcomment')
              i.z-icon-comment
              | 53 条评论
            a.meta-item.zu-autohide(href='#', name='thanks')
              i.z-icon-thank
              | 感谢
            a.meta-item.zu-autohide(href='#', name='share')
              i.z-icon-share
              | 分享
            a.meta-item.zu-autohide(href='#', name='favo')
              i.z-icon-collect
              | 收藏
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='nohelp') 没有帮助
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='report') 举报
            span.copyright.zu-autohide
            a.collapse.meta-item.zg-right(href='#', name='collapse')
              i.z-icon-fold
              | 收起
  .feed-item
    .avatar
      a(title='Evance', target='_blank', href='/people/evance')
        img.zm-item-img-avatar(src='http://p1.zhimg.com/e4/2d/e42d9ec0c_m.jpg')
      .item-vote
        a.item-vote-count(name='expand', href='javascript:;', data-votecount='328') 328
      .item-votebar
        button.up(aria-pressed='false', title='喜欢')
          i.fui-triangle-up-small
          // <span class="label">赞同</span>
          span.count 328
        button.down(aria-pressed='false', title='不喜欢')
          i.fui-triangle-down-small
          span.label
    .feed-main
      .title
        span.wish-type.pull-right 精选愿望
        a.zg-link(data-tip='p$t$evance', href='http://www.zhihu.com/people/evance', target='_blank', title='Evance') Evance
        span.zg-bull •
        a#::-68cf4ad6ec714ffdcd6901ed3aa59d59.zg-follow(name='follow-p', data-follow_text='关注她', href='#') 关注她
      .content
        h2
          a.link-wish(target='_blank', href='/question/22003457') 2013 年阿里员工和现场记者经历的双十一 24 小时是怎样的？
        .entry-body(data-aid='3185589', data-atoken='20001970', data-collapsed='False', data-created='1384150629', data-deleted='0', data-isowner='0', data-helpful='1', data-score='0')
          .zm-item-answer-detail
            .zm-item-vote-info(data-votecount='328')
              span.voters
                a.zg-link(data-tip='p$t$xt-shaw', href='http://www.zhihu.com/people/xt-shaw', title='xt shaw') xt shaw
                | 、
                a.zg-link(data-tip='p$t$a-d-92', href='http://www.zhihu.com/people/a-d-92', title='a d') a d
                | 、
                a.zg-link(data-tip='p$t$deng-yun-tian', href='http://www.zhihu.com/people/deng-yun-tian', title='邓云天') 邓云天
              a.zg-link-gray.more(href='javascript:;', name='more')  等人赞同
            .zm-item-rich-text(data-resourceid='982293', data-action='/answer/content')
              .item-summary.summary.clearfix
                img.origin_image.inline-img.zh-lightbox-thumb(src='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_m.jpg', data-rawwidth='852', data-rawheight='1136', data-original='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_r.jpg')
                | 不能够说数据，不能够说产品，不能够说方案； 只说说过去24个小时。
                b
                  u 一些过程：
                | 提前12小时到了公司，在座位上大家准备所有的进度review(细节不能说就不说了)。进出需要凭工牌和臂章，没有会被请出工作区。后勤的同学基本上都在旁边 ，其实有蛮多辛苦的安全助…
                a.toggle-expand(href='/question/22003457/answer/20001970') 显示全部
        .feed-meta
          .zm-item-meta.zm-item-comment-el.answer-actions.clearfix
            a#sfb-982293.follow-link.zg-follow.meta-item(data-follow='q:link', href='javascript:;')
              i.z-icon-follow
              | 关注问题
            a.meta-item.toggle-comment(href='#', name='addcomment')
              i.z-icon-comment
              | 53 条评论
            a.meta-item.zu-autohide(href='#', name='thanks')
              i.z-icon-thank
              | 感谢
            a.meta-item.zu-autohide(href='#', name='share')
              i.z-icon-share
              | 分享
            a.meta-item.zu-autohide(href='#', name='favo')
              i.z-icon-collect
              | 收藏
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='nohelp') 没有帮助
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='report') 举报
            span.copyright.zu-autohide
            a.collapse.meta-item.zg-right(href='#', name='collapse')
              i.z-icon-fold
              | 收起
  .feed-item
    .avatar
      a(title='Evance', target='_blank', href='/people/evance')
        img.zm-item-img-avatar(src='http://p1.zhimg.com/e4/2d/e42d9ec0c_m.jpg')
      .item-vote
        a.item-vote-count(name='expand', href='javascript:;', data-votecount='328') 328
      .item-votebar
        button.up(aria-pressed='false', title='喜欢')
          i.fui-triangle-up-small
          // <span class="label">赞同</span>
          span.count 328
        button.down(aria-pressed='false', title='不喜欢')
          i.fui-triangle-down-small
          span.label
    .feed-main
      .title
        span.wish-type.pull-right 精选愿望
        a.zg-link(data-tip='p$t$evance', href='http://www.zhihu.com/people/evance', target='_blank', title='Evance') Evance
        span.zg-bull •
        a#::-68cf4ad6ec714ffdcd6901ed3aa59d59.zg-follow(name='follow-p', data-follow_text='关注她', href='#') 关注她
      .content
        h2
          a.link-wish(target='_blank', href='/question/22003457') 2013 年阿里员工和现场记者经历的双十一 24 小时是怎样的？
        .entry-body(data-aid='3185589', data-atoken='20001970', data-collapsed='False', data-created='1384150629', data-deleted='0', data-isowner='0', data-helpful='1', data-score='0')
          .zm-item-answer-detail
            .zm-item-vote-info(data-votecount='328')
              span.voters
                a.zg-link(data-tip='p$t$xt-shaw', href='http://www.zhihu.com/people/xt-shaw', title='xt shaw') xt shaw
                | 、
                a.zg-link(data-tip='p$t$a-d-92', href='http://www.zhihu.com/people/a-d-92', title='a d') a d
                | 、
                a.zg-link(data-tip='p$t$deng-yun-tian', href='http://www.zhihu.com/people/deng-yun-tian', title='邓云天') 邓云天
              a.zg-link-gray.more(href='javascript:;', name='more')  等人赞同
            .zm-item-rich-text(data-resourceid='982293', data-action='/answer/content')
              .item-summary.summary.clearfix
                img.origin_image.inline-img.zh-lightbox-thumb(src='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_m.jpg', data-rawwidth='852', data-rawheight='1136', data-original='http://p4.zhimg.com/38/18/3818176c0c00a1c8661585485f7c49e9_r.jpg')
                | 不能够说数据，不能够说产品，不能够说方案； 只说说过去24个小时。
                b
                  u 一些过程：
                | 提前12小时到了公司，在座位上大家准备所有的进度review(细节不能说就不说了)。进出需要凭工牌和臂章，没有会被请出工作区。后勤的同学基本上都在旁边 ，其实有蛮多辛苦的安全助…
                a.toggle-expand(href='/question/22003457/answer/20001970') 显示全部
        .feed-meta
          .zm-item-meta.zm-item-comment-el.answer-actions.clearfix
            a#sfb-982293.follow-link.zg-follow.meta-item(data-follow='q:link', href='javascript:;')
              i.z-icon-follow
              | 关注问题
            a.meta-item.toggle-comment(href='#', name='addcomment')
              i.z-icon-comment
              | 53 条评论
            a.meta-item.zu-autohide(href='#', name='thanks')
              i.z-icon-thank
              | 感谢
            a.meta-item.zu-autohide(href='#', name='share')
              i.z-icon-share
              | 分享
            a.meta-item.zu-autohide(href='#', name='favo')
              i.z-icon-collect
              | 收藏
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='nohelp') 没有帮助
            span.zg-bull.zu-autohide •
            a.meta-item.zu-autohide(href='#', name='report') 举报
            span.copyright.zu-autohide
            a.collapse.meta-item.zg-right(href='#', name='collapse')
              i.z-icon-fold
              | 收起
.col-md-3